.container{
    background-image: url('../../assets//bg-boost-desktop.svg');
    background-size: cover;
    background-color: #3A3053;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
}
.head{
    color:white;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}
.btn{
    display: flex;
    justify-content: center;
    width: 100%;
}