.container{
    background-image: url('../../assets//bg-boost-desktop.svg');
    background-size: cover;
    background-color: #3A3053;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.btn{
    display: flex;
    justify-content: center;
    width: 100%;
}